@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.cats::-webkit-scrollbar {
  width: 5px;
}

.cats::-webkit-scrollbar-track {
  background: rgb(10, 93, 170);
}

.cats::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    rgb(41, 120, 209) 0%,
    rgb(6, 146, 161) 25%,
    rgb(219, 5, 166) 100%
  );
  border-radius: 15px;
}
